

<body>
  
  <p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>body:</strong>
  <%= @book.body %>
</p>

<%= link_to"edit","/books/#{@book.id}/edit" %>
 |
<%= link_to"back","/books" %>
</body>

